@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /*background: hsla(207, 65%, 3%, 1);*/
    /*background: radial-gradient(circle, hsla(207, 65%, 3%, 0.1) 0%, hsla(206, 100%, 25%, 1) 100%);*/
    /*background: -moz-radial-gradient(circle, hsla(207, 65%, 3%, 0.1) 0%, hsla(206, 100%, 25%, 1) 100%);*/
    /*background: -webkit-radial-gradient(circle, hsla(207, 65%, 3%, 0.1) 0%, hsla(206, 100%, 25%, 1) 100%);*/
}

.primary-header {
    height: 80px;
    color: white;
    background-color: #181818;
    border: none;
}

.primary-header a {
    color: white;
    font-size: 1.5em;
}

header a:hover {
    color: lightgray;
    text-decoration: none;
}

#current-city:hover {
    cursor: pointer;
    text-decoration: underline;
}

#zoom-buttons a{
    color: #000000;
}

#zoom-buttons a:hover{
    color: #676767;
    cursor: pointer;
}

#map {
    height: 500px;
    border-radius: 18px;
}

.card {
    border: 1px solid #eaeaea;
}

.current-weather-container {
    width: 400px;
    border-radius: 15px;
}

.weather-forecast-card {
    height: 320px;
    width: 250px;
    font-size: .8em;
    border-radius: 15px;
}

.card-header {
    background-color: #181818;
    color: white;
}

.card-header:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.list-group li {
    background-color: #f1eeee;
    border:none;
}

.list-group-item:last-child {
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
}

#current-temp {
    font-size: 3.5em;
}

.col {
    padding: 0;
}

.forecast-high {
    color: #d35c5c;
    font-size: 1.1em;
}

.forecast-low {
    color: #4c4cce;
    font-size: 1.1em;
}

footer {
    height: 80px;
    background-color: #181818;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

.hide {
    display:none;
}

#loading-screen {
    background-color: black;
    width: 100%;
    height: 100vh;
}